@model IEnumerable<PCA.Models.WorkItem>
@{
    ViewBag.Title = "Index";
}
@section css {

}
@section sideNavDailyReport
{
    sideNavItemSelected
}

<div class="panel panel-default">
    <div class="panel-heading"><h4>Current Daily Report</h4></div>
    <div class="panel-body">
        <a href="/DailyReport" class="btn btn-default"><span class="glyphicon glyphicon-menu-left"></span> Back</a>
        <br />
        <br />
        <b>
            Report Date:
        </b>
        <p>@ViewBag.currentReportDate</p>
        <b>
            Report Summary:
        </b>
        <p>@ViewBag.currentReportSummary</p>


    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Work Performed</h4>
    </div>
    <div class="panel-body">
        <a href="/DailyReport/CreateWork/@ViewBag.currentReportId" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create New</a>
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>Contractor</th>
                    <th>Summary</th>
                    <th>Performance</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var work in Model)
            {
                    <tr>
                        <td>@work.ContractorId</td>
                        <td>@work.Summary</td>
                        <td>@work.Performance</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <a href="/DailyReport/WorkDetail/@work.WorkItemId" type="button" class="btn btn-default"><span class="glyphicon glyphicon-info-sign"></span></a>
                                <a href="/DailyReport/WorkEdit/@work.WorkItemId" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="/DailyReport/WorkDelete/@work.WorkItemId" type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

