<!-- Daily Report Index-->
<!-- Imports / Dependencies -->
@model IEnumerable<PCA.ViewModels.DailyReportViewModel>
@{
    ViewBag.Title = "Index";
}
@section sideNavDailyReport
{
    sideNavItemSelected
}
@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
    <script src="~/Scripts/DataTablesCustomization.js"></script>
    <script src="~/Scripts/PCA.js"></script>
    <script src="~/Scripts/DailyReport.js"></script>
}

<!-- Daily Report Container -->
<div class="panel panel-default panelShadow col-xs-12 col-md-7">
    <!-- Daily Report Header -->
    <div class="panel-heading col-xs-12">
        <div class="headingElements col-xs-12">
            <div class="col-xs-4">
                <a href="/Dashboard/Index/@ViewBag.CurrentProjectNumber" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-menu-left"></span> Back
                </a>
            </div>
            <span class="headingText col-xs-4">Daily Reports</span>
            <div class="headingRight col-xs-4">
                <a href="/DailyReport/Create" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> New</a>
            </div>
        </div>
    </div>

    <!-- Daily Report Body -->
    <div class="panel-body col-xs-12">

        <!-- Filters -->
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="dailyReportDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Status: <span id="selection">All</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="dailyReportStatusFilter"><a href="#">All</a></li>
                <li class="dailyReportStatusFilter"><a href="#">Pending</a></li>
                <li class="dailyReportStatusFilter"><a href="#">Approved</a></li>
            </ul>
        </div>

        <hr />

        <!-- Link Buttons -->
        <div id="LinkButtonGroup" class="col-xs-12" role="group" aria-label="...">
            <a id="LinkButton1" href="" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-road"></span> Work</a>
            <a id="LinkButton2" href="" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
            <a id="LinkButton3" href="" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            <a id="LinkButton4" href="" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-picture"></span> Pictures</a>
            <a id="LinkButton5" href="" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-sort"></span> Workflow</a>
        </div>

        <!-- Daily Report DataTables -->
        <div id="TableWrapper" class="col-xs-12">
            <table id="Sort1" class="display col-xs-12 Sort1 table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Summary</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Daily Reports -->
                    @foreach (var report in Model)
                    {
                        <tr id="@report.DateString" class="LinkButton dailyReportRow" data-status="@report.Status" data-link-button-1="/DailyReport/Detail/@report.DailyReportId" data-link-button-2="/DailyReport/Edit/@report.DailyReportId"
                            data-link-button-3="/DailyReport/Delete/@report.DailyReportId" data-link-button-4="/DailyReport/PictureIndex/@report.DailyReportId"
                            data-link-button-5="/DailyReport/WorkFlow/@report.DailyReportId"
                            data-date="@report.DateString" data-totalHours="@report.TotalHours">
                            <td>@report.DateString</td>
                            <td>@report.Summary</td>
                            <td>@report.Status</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Analytics Panel -->
<div class="panel panel-default panelShadow col-xs-12 col-md-4 col-md-offset-1">
    <div class="panel-heading col-xs-12">
        <div class="headingElements col-xs-12">
            <div class="col-xs-4"></div>
                <span class="headingText col-xs-4">Data</span>
            </div>
    </div>
    <div class="panel-body">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <canvas id="dailyReportCanvas" width="400" height="400" data-weekreport-1="@ViewBag.DailyReportAnalWeekDay1"
                    data-weekreport-2="@ViewBag.DailyReportAnalWeekDay2" data-weekreport-3="@ViewBag.DailyReportAnalWeekDay3"
                    data-weekreport-4="@ViewBag.DailyReportAnalWeekDay4" data-weekreport-5="@ViewBag.DailyReportAnalWeekDay5"
                    data-weekreport-6="@ViewBag.DailyReportAnalWeekDay6" data-weekreport-7="@ViewBag.DailyReportAnalWeekDay7"></canvas>
        </div>
    </div>
</div>