@model PCA.Models.DailyReport

@{
    ViewBag.PanelTitle = "Daily Report WorkFlow";
    ViewBag.Title = "WorkFlow";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
@section headerLeft
{
    <a href="/DailyReport/Index/" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-menu-left"></span> Back
    </a>
}
@section sideNavDailyReport
{
    sideNavItemSelected
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Projects.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projects.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>

    </dl>
</div>
@if (Model.Status == "Approved")
{
    <a href="/DailyReport/WorkFlowReturn/@Model.DailyReportId" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-arrow-left"></span> Return</a>
}
else
{
    <a href="/DailyReport/WorkFlowForward/@Model.DailyReportId" class="btn btn-primary btn-sm">Forward <span class="glyphicon glyphicon-arrow-right"></span></a>
}


