@model PCA.Models.WorkItem

@{
    ViewBag.Title = "Details";
    ViewBag.PanelTitle = "Work Performed Detail";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

@section headerLeft
{
    <a href="/DailyReport/Detail/@Model.DailyReportId" class="btn btn-default"><span class="glyphicon glyphicon-menu-left"></span> Back</a>
}

<div>
    <br /><br /><br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contractors.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractors.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyReports.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyReports.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Performance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Performance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenWorked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenWorked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursWorked)
        </dd>

    </dl>
</div>

