@model PCA.Models.WorkItem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WorkItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DailyReportId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyReportId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Performance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Performance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenWorked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenWorked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursWorked)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
