@model PCA.Models.ContractorTypeUnion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ContractorTypeUnion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contractors.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractors.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractorTypes.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractorTypes.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContractorTypeUnionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
