@model PCA.Models.ContractGeneralCondition

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ContractGeneralCondition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contracts.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contracts.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScopeOfWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScopeOfWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommencementDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommencementDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingDays)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContractGeneralConditionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
