@model IEnumerable<PCA.Models.Invoice>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section sideNavInvoices
{
    sideNavItemSelected
}


<a href="/Dashboard/Index/@ViewBag.CurrentProjectNumber" class="btn btn-default">Back</a>
<a href="/Invoice/Create" class="btn btn-success">Create Invoice</a>
<br />
<br />

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Invoices</h4>
    </div>
    <div class="panel-body">
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Total</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var inv in Model)
            {
                    <tr>
                        <td>@inv.InvoiceId</td>
                        <td>@string.Format("{0:C}", @inv.TotalAmount)</td>
                        <td>@inv.DateOfInvoice</td>
                        <td>@inv.Status</td>
                    </tr>
                }


            </tbody>
        </table>
        
    </div>
</div>
