@*@model IEnumerable<PCA.Models.Phase>*@
@model IEnumerable<PCA.ViewModels.BudgetPhaseViewModel>
@{
    ViewBag.Title = "Index";
}
@section css {
    <link rel="stylesheet" href="~/Content/Budget.css" />
}
@section sideNavBudgets
{
    sideNavItemSelected
}

<a href="/Dashboard/Index/@ViewBag.CurrentProjectNumber" class="btn btn-default">Back</a>
<a href="/Budget/Create" class="btn btn-success">Create Budget Items</a>
<a href="/Budget/Create" class="btn btn-primary">View Budget Item History</a>

<br />
<hr />

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Budget Summary</h4>
    </div>
    <div class="panel-body">
        Total Budgeted: @string.Format("{0:C}", @ViewBag.BudgetSummaryTotal)
        <br />
        Total Contracted: [ToDo]
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Select Phase:</h4>
    </div>
    <div class="panel-body">
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Total Budget</th>
                    <th>Total Contracted</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var phase in Model)
            {
                    <tr>
                        <td>@phase.PhaseNumber</td>
                        <td><a href="\Budget\Phase\@phase.PhaseId">@phase.PhaseName</a></td>
                        <td>@string.Format("{0:C}", @phase.TotalCost)</td>
                        <td>[Todo]</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

