@*@model IEnumerable<PCA.Models.Phase>*@
@model IEnumerable<PCA.ViewModels.BudgetPhaseViewModel>
@{
    ViewBag.Title = "Index";
}
@section css {
    <link rel="stylesheet" href="~/Content/Budget.css" />
}
@section sideNavBudgets
{
    sideNavItemSelected
}

<a href="/Dashboard/Index/@ViewBag.CurrentProjectNumber" class="btn btn-default">Back</a>
<a href="/Budget/Create" class="btn btn-success">Create Budget Items</a>

<br />
<hr />

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Budget Summary</h4>
    </div>
    <div class="panel-body">
        Total Budgeted: @string.Format("{0:C}", @ViewBag.BudgetSummaryTotal)
        <br />
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Select Phase:</h4>
    </div>
    <div class="panel-body">
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Total Budget</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var phase in Model)
            {
                    <tr>
                        <td>@phase.PhaseNumber</td>
                        <td>@phase.PhaseName</td>
                        <td>@string.Format("{0:C}", @phase.TotalCost)</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <a href="/Budget/Phase/@phase.PhaseId" type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </div>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

