@model IEnumerable<PCA.Models.Budget>
            
@{
    ViewBag.Title = "Edit";
}
@section sideNavBudgets
{
    sideNavItemSelected
}
@section scripts
{
    <script src="~/Scripts/DataTablesCustomization.js"></script>
    <script src="~/Scripts/PCA.js"></script>
}

<div class="panel panel-default">

    <div class="panel-heading"><h4>@ViewBag.currentPhase</h4></div>
    <div class="panel-body">

        <a href="/Budget/" class="btn btn-default"><span class="glyphicon glyphicon-menu-left"></span> Back</a>
        <a href="/Budget/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Create Budget Items</a>
        <hr />

        <div id="LinkButtonGroup" class="btn-group col-xs-12" role="group" aria-label="...">
            <a id="LinkButton1" href="" type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> Info</a>
        </div>

        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>QTY</th>
                    <th>Unit</th>
                    <th>Cost</th>
                    <th>Total Cost</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var budget in @ViewBag.Budgets)
            {
                    <tr class="LinkButton" data-link-button-1="/Budget/Details/@budget.BudgetId">
                        <td>@budget.Description</td>
                        <td>@budget.Quantity</td>
                        <td>@budget.Unit</td>
                        <td>@string.Format("{0:C}", @budget.UnitCost)</td>
                        <td>@string.Format("{0:C}", @budget.TotalCost)</td>
                        <td>@budget.Status</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
