@using System.Web.UI.WebControls
@using PCA.Models
@model IEnumerable<PCA.ViewModels.BudgetDetailReportViewModel>
@{
    ViewBag.Title = "BudgetDetail";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
@section css {
    <link rel="stylesheet" href="~/Content/Report.css" />
}

<div class="row">
    <img src="/Content/Images/Plann_LetterHead.png" class="col-xs-8 col-xs-offset-2" alt="">
</div>

<div class="row">
    <div class="col-xs-4 col-xs-offset-4 text-center"><h4><b>Budget Detail Report</b></h4></div>
    <div class="col-xs-4 col-xs-offset-4 text-center"><h5>Project: @ViewBag.CurrentProjectString</h5></div>
</div>

<hr />

<div class="row">
    @foreach (var item in ((List<Phase>)@ViewBag.projectPhases))
    {
        <div class="col-xs-12">
            <h4><b>@item.Number - @item.Name</b></h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-xs-8">Description</th>
                        <th class="col-xs-4">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var budget in Model)
                    {
                        if (budget.PhaseId == @item.PhaseId)
                        {
                            <tr>
                                <td>@budget.BudgetDescription</td>
                                <td class="text-right">@string.Format("{0:C}", @budget.TotalCost)</td>
                            </tr>
                        }
                    }
                    <tr>
                        <td></td>
                        <td class="text-right"><u>Total:&emsp;@{ Html.RenderAction("GetTotal", new { phaseId = @item.PhaseId, currentProject = @ViewBag.CurrentProjectNumber });}</u></td>
                    </tr>

                </tbody>
            </table>
            <br />
            <br />
        </div>
                            }
</div>
