<!-- Layout Page for PCA Dashboard-->
<!-- Head Elements -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/Layout.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Cabin" rel="stylesheet">
    @RenderSection("css", false)
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css" />
</head>
<!-- End Head -->
<!-- Body -->
<body>
    @Scripts.Render("~/bundles/jquery")
    <!-- <div class="container-fluid backdrop"> -->
        <div class="container-fluid main">
            <div id="rowLogo" class="row">
                <a href="/Dashboard/Index">
                    <div id="navbar" class="col-xs-12">
                        <div id="logo" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                            <img class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" src="~/Content/Images/pcalogo.png" />
                        </div>
                    </div>
                </a>
            </div>
            <!--<div id="menubar" class="row">
                    <div class="col-xs-12">

                    </div>
                </div>-->
            <!-- End Header Bar -->
            <div id="BodyContainer" class="container-fluid">
                <div id="ContentRow" class="row">
                    <div id="Body" class="col-xs-12">
                        @RenderBody()
                    </div>
                </div>

                <!-- End Body -->
                <!-- Footer -->
                <div class="row">
                    <p>&copy; @DateTime.Now.Year - Planning & Construction Associates Inc.</p>
                </div>
            </div>



        </div>
   


    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    
    <script src="~/Scripts/Layout.js"></script>
    <script src="~/Scripts/PCA.js"></script>    
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
</body>
</html>
