<!-- Layout Page for PCA Dashboard-->
<!-- Head Elements -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <link rel="stylesheet" href="~/Content/LayoutTest.css" />
    @RenderSection("css", false)
</head>
<!-- End Head -->
<!-- Body -->
<body>
    <!-- Header Bar -->
        <div class="container-fluid">
            <div class="row">
                <div  id="navbar" class="col-xs-12">
                    <div id="logo" class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 col-xl-2 col-xl-offset-5">
                        <img class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 col-xl-2 col-xl-offset-5" src="~/Content/Images/pcalogo.png" />
                    </div>
                            @* @if (@ViewBag.CurrentProjectNumber == null)
                            {
                                <p class="navbar-text">No Project.</p>
                            }
                            else
                            {
                                <p class="navbar-text"><a href="/Dashboard/Select" id="currentproject">Current Project: @ViewBag.CurrentProjectString</a></p>
                            }
                            *@
                </div>
            </div>
            <!-- End Header Bar -->
            <!-- Navigation -->
            <div class="row">
                <div id="Navigation" class="col-xs-12">
                    <div id="NavigationLinks" class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                        <a href="/Dashboard/Index/@ViewBag.CurrentProjectNumber"><span class="NavigationLinkItem col-xs-12 col-md-2 NavItemSelected @RenderSection("sideNavDashboard", false)">DASHBOARD</span></a>
                        <a href="/Contracts/"><span class="NavigationLinkItem col-xs-12 col-md-2 @RenderSection("sideNavContracts", false)">CONTRACTS</span></a>
                        <a href="/Budgets/Index/"><span class="NavigationLinkItem col-xs-12 col-md-2 @RenderSection("sideNavBudgets", false)">BUDGETS</span></a>
                        <a href="/DailyReport/"><span class="NavigationLinkItem col-xs-12 col-md-2 @RenderSection("sideNavInvoices", false)">INVOICE</span></a>
                        <a href="/DailyReport/Index"><span class="NavigationLinkItem col-xs-12 col-md-2 @RenderSection("sideNavDailyReport", false)">DAILY REPORT</span></a>
                        <a href="/Reports/Index"><span class="NavigationLinkItem col-xs-12 col-md-2 @RenderSection("sideNavReport", false)">REPORTS</span></a>
                    </div>

                    <div id="CurrentUser" class="col-xs-12 col-md-4 col-lg-6 col-xl-4">
                        <p id="CurrentUserText">Hello, <u>USER</u></p>
                    </div>
                </div>

                
            </div>

            <div class="container">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            TEST
                        </div>
                        <div class="panel-body">Test 2</div>
                    </div>
                </div>
            </div>


            <div id="content">
                <div class="container body-content">
                    @RenderBody()
                </div>

                <!-- End Body -->
                <!-- Footer -->
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Planning & Construction Associates Inc.</p>
                </footer>
            </div>

            <div class="row">
                <div id="Footer" class="col-xs-12">
                    <p id="CurrentProjectText">Current Project: [1] Test</p>
                </div>
            </div>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/Layout.js"></script>
</body>
</html>
